In [1]:
import pandas as pd
import numpy as np

In [2]:
import csv
f = open("E:/master/beer.csv", 'rb')
reader = csv.reader(f)

In [3]:
beer = pd.read_csv (f, sep =",", error_bad_lines=False)

In [4]:
beer.head()

,Unnamed: 0,names,Id,brewerId,ABV,style,appearance,aroma,palate,taste,overall,time,profile_name
0,0,Sausa Weizen,47986,10325,5.00,Hefeweizen,2.5,2.0,1.5,1.5,1.5,1234817823,stcules
1,1,Red Moon,48213,10325,6.20,English Strong Ale,3.0,2.5,3.0,3.0,3.0,1235915097,stcules
2,2,Black Horse Black Beer,48215,10325,6.50,Foreign / Export Stout,3.0,2.5,3.0,3.0,3.0,1235916604,stcules
3,3,Sausa Pils,47969,10325,5.00,German Pilsener,3.5,3.0,2.5,3.0,3.0,1234725145,stcules
4,4,Cauldron DIPA,64883,1075,7.70,American Double / Imperial IPA,4.0,4.5,4.0,4.5,4.0,1293735206,johnmichaelsen

In [5]:
beer.shape

(1586187, 13)

In [6]:
beer['time'].head(2)

0    1234817823
1    1235915097
Name: time, dtype: int64

In [ ]:
## type int64

# import datetime
# prueba=datetime.datetime.fromtimestamp(int("1234817823")).strftime('%Y-%m-%d %H:%M:%S')
# prueba2=datetime.datetime.fromtimestamp(int("1234817823")).strftime('%Y-%m-%d')

#print prueba
#print prueba2

In [ ]:
## https://stackoverflow.com/questions/45218284/convert-date-from-int64-to-datetime

# beer['time2'] = pd.to_datetime((beer['time']), unit='ms')
# beer['time2'].head(2)

In [ ]:
## Name: time3, dtype: datetime64[ns] probamos con ns en vez de ms-->milliseconds
## same problem, the output date is wrong

#beer['time2'] = pd.to_datetime((beer['time']), unit='ns')
#beer['time2'].head(2)

In [7]:
import datetime
def convert_stamp_to_date(stamp):
    try:
        d = datetime.datetime.utcfromtimestamp(stamp)
    except:
        d = datetime.datetime.utcfromtimestamp(0)
    d = datetime.datetime(d.year, d.month, d.day)
    return d

In [8]:
beer['time2'] = beer['time'].apply(lambda x: convert_stamp_to_date(x))

In [9]:
beer['time2'].head()

0   2009-02-16
1   2009-03-01
2   2009-03-01
3   2009-02-15
4   2010-12-30
Name: time2, dtype: datetime64[ns]

In [11]:
beer.head()

,Unnamed: 0,names,Id,brewerId,ABV,style,appearance,aroma,palate,taste,overall,time,profile_name,time2,day,month,year
0,0,Sausa Weizen,47986,10325,5.00,Hefeweizen,2.5,2.0,1.5,1.5,1.5,1234817823,stcules,2009-02-16,16,2,2009
1,1,Red Moon,48213,10325,6.20,English Strong Ale,3.0,2.5,3.0,3.0,3.0,1235915097,stcules,2009-03-01,1,3,2009
2,2,Black Horse Black Beer,48215,10325,6.50,Foreign / Export Stout,3.0,2.5,3.0,3.0,3.0,1235916604,stcules,2009-03-01,1,3,2009
3,3,Sausa Pils,47969,10325,5.00,German Pilsener,3.5,3.0,2.5,3.0,3.0,1234725145,stcules,2009-02-15,15,2,2009
4,4,Cauldron DIPA,64883,1075,7.70,American Double / Imperial IPA,4.0,4.5,4.0,4.5,4.0,1293735206,johnmichaelsen,2010-12-30,30,12,2010

In [10]:
## extract the year, month, day

beer["day"] = beer['time2'].map(lambda x: x.day)
beer["month"] = beer['time2'].map(lambda x: x.month)
beer["year"] = beer['time2'].map(lambda x: x.year)

In [12]:
beer.head()

,Unnamed: 0,names,Id,brewerId,ABV,style,appearance,aroma,palate,taste,overall,time,profile_name,time2,day,month,year
0,0,Sausa Weizen,47986,10325,5.00,Hefeweizen,2.5,2.0,1.5,1.5,1.5,1234817823,stcules,2009-02-16,16,2,2009
1,1,Red Moon,48213,10325,6.20,English Strong Ale,3.0,2.5,3.0,3.0,3.0,1235915097,stcules,2009-03-01,1,3,2009
2,2,Black Horse Black Beer,48215,10325,6.50,Foreign / Export Stout,3.0,2.5,3.0,3.0,3.0,1235916604,stcules,2009-03-01,1,3,2009
3,3,Sausa Pils,47969,10325,5.00,German Pilsener,3.5,3.0,2.5,3.0,3.0,1234725145,stcules,2009-02-15,15,2,2009
4,4,Cauldron DIPA,64883,1075,7.70,American Double / Imperial IPA,4.0,4.5,4.0,4.5,4.0,1293735206,johnmichaelsen,2010-12-30,30,12,2010

# Missing values

In [13]:
beer.isnull().sum()

Unnamed: 0      0
names           0
Id              0
brewerId        0
ABV             0
style           0
appearance      0
aroma           0
palate          0
taste           0
overall         0
time            0
profile_name    0
time2           0
day             0
month           0
year            0
dtype: int64

In [14]:
beer.columns[beer.isnull().any()]  ## .tolist() is there any column with missing values?

Index([], dtype='object')

In [15]:
beer.ABV.isnull().sum()  ## Alcohol By Volume: it something that we can re coded as 99. that is a easy identifiable number

0

In [ ]:
# replace with 99 those missing or NaN values from the ABV column
beer.ABV=beer.ABV.fillna(value=99)

In [ ]:
beer.ABV.isnull().sum()

In [ ]:
beer.profile_name.isnull().sum() ## We should identify the rows and delete them, since if we do not know which consumer it is, the associated data to that rows, are not useful for our algoritmo

In [ ]:
index_na=beer.profile_name.index[beer.profile_name.isnull()]

In [ ]:
index_na

In [ ]:
beer=beer.dropna(axis=0)

In [ ]:
beer.profile_name.isnull().sum()

## Some statistics

In [ ]:
# total customers
customers=beer['profile_name'].nunique()
customers

In [ ]:
# total beers by style
beer_style=beer['style'].nunique()
beer_style

In [ ]:
# total beers by Id
beer_Id=beer['Id'].nunique()
beer_Id

In [ ]:
# total beers by brewerId
beer_brewerId=beer['brewerId'].nunique()
beer_brewerId

In [ ]:
# total beers by names
beer_name=beer['names'].nunique()
beer_name

## Weird things to think about

### As we have seen, there are 56845 names of beers and 66036 Ids... so there must be an explanation for those names having more than one Id

In [ ]:
brand_by_name=beer.groupby('names')['Id'].nunique()
brand_by_name.sort_values(ascending = False).head(10)

In [ ]:
## the beer called Oktoberfest has 5 different styles
brand_by_name2=beer.groupby(['names']).get_group('Oktoberfest')['style'].nunique()
brand_by_name2

### Name of the beer == Oktoberfest ??

In [ ]:
brand_by_name2=beer.groupby(['names']).get_group('Oktoberfest')
brand_by_name2

### MÃ¤rzen / Oktoberfest has 194 Ids differentes, Looking at the data, 
### it could be that the Id changes within the same beer name and style attending to the ABV variable

In [ ]:
brand_by_name22=brand_by_name2.groupby(['style'])['Id'].nunique()
brand_by_name22

In [ ]:
brand_by_name4=brand_by_name2.groupby(['style','ABV'])['Id'].nunique()
brand_by_name4

### TODO more checks

## Another statistics

In [ ]:
# Num of beers (brand/names) broup by style
brand_by_style=beer.groupby('style')['names'].nunique()
brand_by_style.sort_values(ascending = False).head(10)

In [ ]:
brand_by_style2=beer.groupby('style').get_group('American IPA')['names'].nunique()
brand_by_style2

In [ ]:
prueba=beer.groupby('style').get_group('American IPA')
type(prueba)
prueba2=prueba.groupby('names')['Id'].nunique()
prueba2.sort_values(ascending = False).head(10)

In [ ]:
# Beers most rated by style
most_rated_style=beer.groupby('style')['profile_name'].count()
most_rated_style.sort_values(ascending = False).head(10)

In [ ]:
# Customer preferences 
customerPreferences=beer.groupby('profile_name')['overall'].agg(['min', 'max','count'])
customerPreferences
# max =best rated, min = worst rated, count= num of beers rated by each customer
customerPreferences.sort(['count'], ascending=False)

In [ ]:
# total beers by name
beer_names=beer['names'].nunique()
beer_names

In [ ]:
beer_Id=beer['Id'].nunique()
beer_Id

In [ ]:
# Customers that have rated more beers (breaking down by year and month)
beer_by_customer=beer.groupby(['profile_name', 'year', 'month'])['names'].count()
beer_by_customer.sort_values(ascending = False).head(10)

In [ ]:
# Customers that have rated more beers (breaking down by year)
beer_by_customer2=beer.groupby(['profile_name', 'year'])['names'].count()

In [ ]:
# Customers that have rated more beers (total)
beer_by_customer3=beer.groupby(['profile_name'])['names'].count()
beer_by_customer3.sort_values(ascending = False).head(10)

In [ ]:
beer_by_customer3.sort_values(ascending = False).tail(10)

In [ ]:
# Beers best and worst rated 
rated_beers=beer.groupby('style')['overall'].agg(['min', 'max','mean', 'count'])
rated_beers

In [ ]:
rated_beers2=beer.groupby(['style'])['overall'].mean()
rated_beers2.sort_values(ascending = False).head(10)

In [ ]:
rated_beers2=beer.groupby(['style'])['overall'].mean()
rated_beers2.sort_values(ascending = False).tail(10)

## IPA and I.P.A. ??

In [ ]:
##there are both