# Treating missing values

In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
f = open("E:/master/beerdate.csv",'rb')
reader = csv.reader(f)
beer = pd.read_csv (f, sep =",")
beer.head(2)

,Unnamed: 0,names,Id,brewerId,ABV,style,appearance,aroma,palate,taste,overall,time,profile_name,text,time2,day,month,year
0,0,Sausa Weizen,47986,10325,5.0,Hefeweizen,2.5,2.0,1.5,1.5,1.5,1234817823,stcules,""" A lot of foam. But a lot.\tIn the smell some...",2009-02-16,16,2,2009
1,1,Red Moon,48213,10325,6.2,English Strong Ale,3.0,2.5,3.0,3.0,3.0,1235915097,stcules,""" Dark red color, light beige foam, average.\t...",2009-03-01,1,3,2009

### Is there any column with missing values?

In [3]:
beer.columns[beer.isnull().any()].tolist()

['ABV', 'profile_name', 'text']

### How many missing values are in each of those columns?

In [4]:
pd.isnull(beer).sum()

Unnamed: 0          0
names               0
Id                  0
brewerId            0
ABV             67756
style               0
appearance          0
aroma               0
palate              0
taste               0
overall             0
time                0
profile_name      348
text              353
time2               0
day                 0
month               0
year                0
dtype: int64

### How to proceed with the missing values?
1.We are going to delete the profile name rows with missing values, since if we do not know which consumer it is, the associated data to that rows are not useful for our  recommendation system   
2.The missing  ABV  values will be replace for a "99" which is easy to identify and is not going to mixed up with the real values   
3.Lastly, the missing text values are going to be recoded as "no comments"

In [11]:
beer.ABV=beer.ABV.fillna(value=99)
beer.ABV.isnull().sum()

0

In [13]:
beer.text=beer.text.fillna(value="no comments")
beer.text.isnull().sum()

0

In [15]:
beer=beer.dropna(axis=0)

In [17]:
beer.columns[beer.isnull().any()].tolist()

[]

In [18]:
beer.head(2)

,Unnamed: 0,names,Id,brewerId,ABV,style,appearance,aroma,palate,taste,overall,time,profile_name,text,time2,day,month,year
0,0,Sausa Weizen,47986,10325,5.0,Hefeweizen,2.5,2.0,1.5,1.5,1.5,1234817823,stcules,""" A lot of foam. But a lot.\tIn the smell some...",2009-02-16,16,2,2009
1,1,Red Moon,48213,10325,6.2,English Strong Ale,3.0,2.5,3.0,3.0,3.0,1235915097,stcules,""" Dark red color, light beige foam, average.\t...",2009-03-01,1,3,2009

In [20]:
beer.to_csv ('E:/master/beerna.csv', index=False, na_rep='NA')

In [ ]:
brand_by_name22=brand_by_name2.groupby(['style'])['Id'].nunique()
brand_by_name22

In [ ]:
brand_by_name23=brand_by_name2.groupby(['style'])['brewerId'].nunique()
brand_by_name23

In [ ]:
brand_by_name4=brand_by_name2.groupby(['style','ABV'])['Id'].nunique()
brand_by_name4

### TODO more checks
1. Check if the variable --> names, has weird characters

## ______________________________________________________

## Another statistics

There are 104 styles, lets see how many beers (names) there are inside each style

In [ ]:
names_by_styles=beer.groupby(['style'])['names'].nunique()
names_by_styles.sort_values(ascending = False).head(10)

In [ ]:
names_by_styles.sort_values(ascending = False).tail(10)

#### Maybe we can skip those styles with few beers

### Num of beers (brand/names)  by style: American IPA and American Pale Ale are the most rated

In [ ]:
# Num of beers (brand/names) broup by style
brand_by_style=beer.groupby('style')['names'].nunique()
brand_by_style.sort_values(ascending = False).head(10)

In [ ]:
brand_by_style2=beer.groupby('style').get_group('American IPA')['names'].nunique()
brand_by_style2

In [ ]:
prueba=beer.groupby('style').get_group('American IPA')
type(prueba)
prueba2=prueba.groupby('names')['Id'].nunique()
prueba2.sort_values(ascending = False).head(10)

In [ ]:
# Beers most rated by style
most_rated_style=beer.groupby('style')['profile_name'].count()
most_rated_style.sort_values(ascending = False).head(10)

### Top 10 customers (those who rated more)

In [ ]:
# Customer preferences 
customerPreferences=beer.groupby('profile_name')['overall'].agg(['min', 'max','count'])
customerPreferences
# max =best rated, min = worst rated, count= num of beers rated by each customer
customerPreferences.sort(['count'], ascending=False).head(300)

In [ ]:
# total beers by name
beer_names=beer['names'].nunique()
beer_names

In [ ]:
beer_Id=beer['Id'].nunique()
beer_Id

### Customers ratings by month, year... and so

Should we keep those customers eg: RblWthACozwho have rated more than 100 beers in one day??

In [ ]:
# Customers that have rated more beers (breaking down by year and month)
beer_by_customer=beer.groupby(['profile_name', 'year', 'month', 'day'])['names'].count()
beer_by_customer.sort_values(ascending = False).head(100)

In [ ]:
# Customers that have rated more beers (breaking down by year and month)
beer_by_customer=beer.groupby(['profile_name', 'year', 'month'])['names'].count()
beer_by_customer.sort_values(ascending = False).head(10)

In [ ]:
# Customers that have rated more beers (breaking down by year)
beer_by_customer2=beer.groupby(['profile_name', 'year'])['names'].count()

In [ ]:
# Customers that have rated more beers (total)
beer_by_customer3=beer.groupby(['profile_name'])['names'].count()
beer_by_customer3.sort_values(ascending = False).head(10)

In [ ]:
beer_by_customer3.sort_values(ascending = False).tail(10)

### Beers best and worst rated --- avg of the overall variable

In [ ]:
# Beers best and worst rated 
rated_beers=beer.groupby('style')['overall'].agg(['min', 'max','mean', 'count'])
rated_beers.head()

In [ ]:
rated_beers2=beer.groupby(['style'])['overall'].mean()
rated_beers2.sort_values(ascending = False).head(10)

In [ ]:
rated_beers2=beer.groupby(['style'])['overall'].mean()
rated_beers2.sort_values(ascending = False).tail(10)