# Converting the time column to a legible format

In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
f = open("E:/master/beertext.csv",'rb')
reader = csv.reader(f)

In [3]:
beer = pd.read_csv (f, sep =",")

In [4]:
beer.head(2)

,Unnamed: 0,names,Id,brewerId,ABV,style,appearance,aroma,palate,taste,overall,time,profile_name,text
0,0,Sausa Weizen,47986,10325,5.00,Hefeweizen,2.5,2.0,1.5,1.5,1.5,1234817823,stcules,""" A lot of foam. But a lot.\tIn the smell some..."
1,1,Red Moon,48213,10325,6.20,English Strong Ale,3.0,2.5,3.0,3.0,3.0,1235915097,stcules,""" Dark red color, light beige foam, average.\t..."

In [5]:
beer=beer.drop(beer.columns[0], axis=1)

In [6]:
beer.head(2)

,names,Id,brewerId,ABV,style,appearance,aroma,palate,taste,overall,time,profile_name,text
0,Sausa Weizen,47986,10325,5.00,Hefeweizen,2.5,2.0,1.5,1.5,1.5,1234817823,stcules,""" A lot of foam. But a lot.\tIn the smell some..."
1,Red Moon,48213,10325,6.20,English Strong Ale,3.0,2.5,3.0,3.0,3.0,1235915097,stcules,""" Dark red color, light beige foam, average.\t..."

## Transforming the date
### The time column is a long num -> int64, so we need to convert our long integer value to a normal date format

In [7]:
beer['time'].head(2)

0    1234817823
1    1235915097
Name: time, dtype: int64

In [ ]:
## type int64

# import datetime
# prueba=datetime.datetime.fromtimestamp(int("1234817823")).strftime('%Y-%m-%d %H:%M:%S')
# prueba2=datetime.datetime.fromtimestamp(int("1234817823")).strftime('%Y-%m-%d')

#print prueba
#print prueba2

In [8]:
import datetime
def convert_stamp_to_date(stamp):
    try:
        d = datetime.datetime.utcfromtimestamp(stamp)
    except:
        d = datetime.datetime.utcfromtimestamp(0)
    d = datetime.datetime(d.year, d.month, d.day)
    return d

In [9]:
beer['time2'] = beer['time'].apply(lambda x: convert_stamp_to_date(x))

In [10]:
beer['time2'].head()

0   2009-02-16
1   2009-03-01
2   2009-03-01
3   2009-02-15
4   2010-12-30
Name: time2, dtype: datetime64[ns]

In [11]:
beer.head(3)

,names,Id,brewerId,ABV,style,appearance,aroma,palate,taste,overall,time,profile_name,text,time2
0,Sausa Weizen,47986,10325,5.00,Hefeweizen,2.5,2.0,1.5,1.5,1.5,1234817823,stcules,""" A lot of foam. But a lot.\tIn the smell some...",2009-02-16
1,Red Moon,48213,10325,6.20,English Strong Ale,3.0,2.5,3.0,3.0,3.0,1235915097,stcules,""" Dark red color, light beige foam, average.\t...",2009-03-01
2,Black Horse Black Beer,48215,10325,6.50,Foreign / Export Stout,3.0,2.5,3.0,3.0,3.0,1235916604,stcules,""" Almost totally black. Beige foam, quite comp...",2009-03-01

### Now we can extract the year, the month and the day

In [12]:
beer["day"] = beer['time2'].map(lambda x: x.day)
beer["month"] = beer['time2'].map(lambda x: x.month)
beer["year"] = beer['time2'].map(lambda x: x.year)

In [13]:
beer.head(3)

,names,Id,brewerId,ABV,style,appearance,aroma,palate,taste,overall,time,profile_name,text,time2,day,month,year
0,Sausa Weizen,47986,10325,5.00,Hefeweizen,2.5,2.0,1.5,1.5,1.5,1234817823,stcules,""" A lot of foam. But a lot.\tIn the smell some...",2009-02-16,16,2,2009
1,Red Moon,48213,10325,6.20,English Strong Ale,3.0,2.5,3.0,3.0,3.0,1235915097,stcules,""" Dark red color, light beige foam, average.\t...",2009-03-01,1,3,2009
2,Black Horse Black Beer,48215,10325,6.50,Foreign / Export Stout,3.0,2.5,3.0,3.0,3.0,1235916604,stcules,""" Almost totally black. Beige foam, quite comp...",2009-03-01,1,3,2009