In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('ratings_28_oct.csv')

In [3]:
df = df.drop (df.columns[[0]], axis=1)

In [4]:
df = df[df.overall>=4.0]

In [5]:
df = df.sample(1000)

In [6]:
df.head()

         user_id     Id  overall
505564      9236  35996      4.0
1154464    22100  56473      4.0
174958      3191  20470      4.0
263281      4597  45936      4.5
138504      2486    903      4.0

In [7]:
from sklearn.cross_validation import train_test_split

/home/alejandro/anaconda3/envs/beer/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [8]:
train, test = train_test_split(df)

In [9]:
train.shape

(750, 3)

In [10]:
test.shape

(250, 3)

In [11]:
def pivotarray(df):
    users,i= np.unique(df['user_id'],return_inverse=True)
    item,j= np.unique(df['Id'],return_inverse=True)
    a=np.zeros((len(users),len(item)))
    a[i,j]=df['overall']
    return a

In [12]:
ratings_train = pivotarray(train)
ratings_train

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [13]:
ratings_test = pivotarray(test)
ratings_test

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [14]:
import sklearn
from sklearn.neighbors import NearestNeighbors

In [16]:
k = 5
neigh = NearestNeighbors (k, 'cosine')
neigh.fit(ratings_train)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius='cosine')

In [17]:
top_k_distances, top_k_users = neigh.kneighbors (ratings_train, return_distance=True)

In [18]:
top_k_distances.shape

(634, 5)

In [19]:
top_k_users.shape

(634, 5)

In [20]:
user_pred_k = np.zeros(ratings_train.shape) 

for i in range(ratings_train.shape[0]): 
    user_pred_k[i,:] =   top_k_distances[i].T.dot(ratings_train[top_k_users][i]) 
/np.array([np.abs(top_k_distances[i].T).sum(axis=0)]).T

AttributeError: 'list' object has no attribute 'T'

In [ ]:
user_pred_k.shape