In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('ratings_28_oct.csv')

In [3]:
df = df.drop (df.columns[[0]], axis=1)

### we start trying with rating vaues over/equal 4.0 because it means beers were good for user

In [4]:
df1 = df[df.overall>=4.0]

In [5]:
df1.head()

   user_id     Id  overall
0        0    245      4.5
1        0  61351      4.5
2        0   1005      5.0
3        0  47776      4.0
4        0   1002      4.0

In [6]:
df1.shape

(989514, 3)

In [7]:
def pivotarray(df):
    users,i= np.unique(df['user_id'],return_inverse=True)
    item,j= np.unique(df['Id'],return_inverse=True)
    a=np.zeros((len(users),len(item)))
    a[i,j]=df['overall']
    return a

In [8]:
ratings1 = pivotarray (df1)
ratings1

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [9]:
sparsity = float(len(ratings1.nonzero()[0])) 
sparsity /= (ratings1.shape[0] * ratings1.shape[1]) 
sparsity *= 100 
print('Sparsity: {:4.2f}%'.format(sparsity))

Sparsity: 0.07%

In [10]:
df2 = df[df.overall>4.0]

In [11]:
df2.shape

(410882, 3)

In [12]:
ratings2 = pivotarray (df2)

In [13]:
sparsity = float(len(ratings2.nonzero()[0])) 
sparsity /= (ratings2.shape[0] * ratings2.shape[1]) 
sparsity *= 100 
print('Sparsity: {:4.2f}%'.format(sparsity))

Sparsity: 0.06%

In [14]:
df3 = df[df.overall>=5.0]

In [15]:
df3.shape

(89510, 3)

In [16]:
ratings3 = pivotarray (df3)

In [17]:
sparsity = float(len(ratings3.nonzero()[0])) 
sparsity /= (ratings3.shape[0] * ratings3.shape[1]) 
sparsity *= 100 
print('Sparsity: {:4.2f}%'.format(sparsity))

Sparsity: 0.05%

### we take df with ratings over or equal 4.0, there is a little bit more sparsity
### it seems there are loads of zeros...

In [19]:
ratings1

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [21]:
sparsity = float(len(ratings1.nonzero()[0])) 
sparsity /= (ratings1.shape[0] * ratings1.shape[1]) 
sparsity *= 100 
print('Sparsity: {:4.2f}%'.format(sparsity))

Sparsity: 0.07%